
# Created by https://www.gitignore.io/api/psoccreator

### PSoCCreator ###
# Project Settings
*.cywrk.*
*.cyprj.*

# Generated Assets and Resources
Debug/
Release/
*/codegentemp
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd
*.LOG
BUILD.log

# Archives
Backup/

# End of https://www.gitignore.io/api/psoccreator
